alias b="python3 -m budget_app"
alias ba="python3 -m budget_app add"
alias bl="python3 -m budget_app list"
alias bll="python3 -m budget_app list --limit"
alias bs="python3 -m budget_app search"
alias bsf="python3 -m budget_app search --from"
alias bsto="python3 -m budget_app search --to"
alias bsc="python3 -m budget_app search --catogory"
alias bst="python3 -m budget_app search --type"
alias bsq="python3 -m budget_app search --q"
alias bstag="python3 -m budget_app search --tag"
alias bm="python3 -m budget_app summary"
alias bmm="python3 -m budget_app summary --month"
alias bmt="python3 -m budget_app summary --top"
alias bb="python3 -m budget_app budget"
alias bb="python3 -m budget_app budget set"
alias bbs="python3 -m budget_app budget set"
alias bc="python3 -m budget_app category"
alias bca="python3 -m budget_app category add"
alias bcl="python3 -m budget_app category list"
alias bcr="python3 -m budget_app category remove"
alias bu="python3 -m budget_app update"
alias bd="python3 -m budget_app delete"
alias bdi="python3 -m budget_app delete --id"
alias bi="python3 -m budget_app import"
alias bif="python3 -m budget_app import --from"
alias be="python3 -m budget_app export"
alias beo="python3 -m budget_app export --out"